
body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F3EE;
    color: #463f3a;
    line-height: 1.6;
}

header {
    background-color: #463f3a;
    color: #F4F3EE;
    padding: 20px;
    padding-top: 60px;
}

.header-img{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.header-content{
    padding: 20px;
    margin: 0;
}

.header-content h1, .header-content p, .header-content h2{
    font-size: 2.5em;
    margin: 0;
}

.header-content h2{
    font-size: 2em;
}

.header-content p{
    font-size: 1.5em;
}

nav {
    background-color:#3e3834;
    color: white;
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

#about ul{
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

h3 {
    border-bottom: 2px solid #3e3834;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.project-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;    
}

.project-gallery a {
    color: #463f3a;
    text-decoration: none;
}

.project-gallery article:hover {
    background-color: #e0afa058;
}

.project-gallery article {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.project-gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background-color:#e0afa058;
    border: 1px solid #E0AFA0;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

footer {
    font-size: x-small;
    text-align: center;
    background-color: #3e3834;
    color: white;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .social-links {
    padding: 10px 0 0 0;
}

footer .social-links a {
    color: white;
    text-decoration: none;
}

footer .social-links a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
    padding: 0;
}
